/*
- Declare and use variables
- Use Google Fonts
- Make it responsive
- IMPORTANT: change elements to BEM
*/

.gallery{
	max-width: $max-width;
	height: $gallery-height;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
	&__images{
		list-style-type: none;
	}
	&-images__element{ 
		top: 0;
		left: 0;
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: $gallery-height;
		opacity: 0;

		&--showing{
			opacity: 1;
		}
	}

	&__controls{
		width: 100%;
		height: $gallery-height;
	}
	&__control{
		cursor: pointer;
		background-color: #000000;
		border: gray solid 1px;
		border-radius: 10px;
		color: white;
		padding: 30px;
		display: flex;
		text-align: center;
		text-decoration: none;
		position: absolute;
		top: 50%;
		opacity: 0.5;
		&--right{
			left: calc(100% - 90px);
		}
		&--left{
			right: calc(100% - 90px);
		}
		&--disabled{
			pointer-events: none;
			opacity: 0.5;
			background-color: gray;
		}
	}

	&__dots{
		list-style-type: none;
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		bottom: 10px;
	}
	&-dot__button{
		height: 40px;
		width: 40px;
		border-radius: 100%;
		margin: 0 5px;
		background-color: #000000;
		border: gray solid 1px;
		opacity: 0.5;
		
		&--selected{
			background-color: red;
		}
	}

}






