/* TODO: 
	- add variables and utils (mixin)
	- change buttons to make them bigger
	- add responsive to grid: reduce #fr 
	- add breakpoint 1023px
*/

.menu {
	height: 20vh;
	width: 100vw;
	@include flex-container($justifying: space-between);
	background-color: $main-color;
	@include box-shadows();
	position: fixed;
	top: 0;
	z-index: 1;

	&__title{
		@include flex-container($justifying: center);
		font-family: 'Quattrocento Sans', sans-serif;
		color: $font-color;
		height: 90%;
		margin-left: 5px;
		@include at-media-query-width($media-query-width:  950px){
			font-size: 70%;
			width: 40%;
		}
	}

	&__buttons{
		height: 90%;
		font-size: 20px;
		margin-right: 20px;
		@include flex-container($justifying: space-evenly);

		@include at-media-query-width($media-query-width:  950px){
			display: grid;
			width: 90vw;
			grid-gap: 2px;
			grid-template-columns: repeat(auto-fill, minmax(50px, auto));
			grid-template-rows: repeat(auto-fill, minmax(50px, auto));
		}
	}

	&__button:last-child{
		margin-right: 10px;

		@include at-media-query-width($media-query-width:  950px){
			margin-right: 5px;
		}
	}

	&__button{
		height: 100%;
		font-size: 16px;
		padding: 15px 32px;
		margin-left: 10px;

		@include at-media-query-width($media-query-width:  950px){
			height: 8vh;
			width: 100%;
			font-size:60%;
			padding: 0;
			margin: 0;
		}
		
		border-radius: 5px;
		background-color: $second-color;
		@include box-shadows();
		color: $font-color;
		font-family: 'Quattrocento Sans', sans-serif;
		border: none;
		cursor: pointer;
	}
}
